<app-not-found [visible]="!cart || cart.items.length <= 0"  notFound = "Cart Page Is Empty!"
resetLinkText = "Go to HomePage">
</app-not-found>
<div *ngIf="cart && cart.items.length >0" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.fo0d.imageUrl" [alt]="cartItem.fo0d.name">
      </div>
      <div>
        <a routerLink="/food/{{cartItem.fo0d.id}}">{{cartItem.fo0d.name}}</a>
      </div>
      <div>
        <select #quantitySelect (change)="changeQuantity(cartItem , quantitySelect.value)">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div>
        {{cartItem.price | currency}}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">Remove</button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="food-counts">{{cart.items.length}}</div>
      <div class="total-price">{{cart.totalPrice | currency}}</div>
    </div>
  </div>
</div>

